@import url("https://css.gg/play-button-r.css");

body {
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
}

.menu {
  margin-top: 40px;
  border: 1px solid black;
  padding: 80px 32px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
}

.app-title {
  margin-top: -70px;
}

/* FORM STYLING */
.instrument-select {
  text-align: center;
}

form > label {
  display: inline-block;
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
  font-weight: bold;
}

select {
  margin-bottom: 0.5rem;
}

input {
  width: 100px;
  height: 25px;
  text-align: center;
}

/* PLAY SECTION */

.notes {
  margin-top: 2rem;
}

.string {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  align-items: center;
}

.note {
  font-size: 2rem;
  text-transform: capitalize;
}

.btn {
  height: 80px;
  width: 80px;
}

.play-btn::before {
  font-size: 1.5rem;
  content: "\25BA";
}

.pause-btn::before {
  width: 80px;
  height: 80px;
  content: "\258C \258C";
}

footer {
  width: 350px;
  display: flex;
  justify-content: flex-start;
}

.jbass {
  transform: rotate(90deg);
}
