@import url("https://css.gg/play-button-r.css");

body {
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #80e9ff;
  color: #333333;
}

.app-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -120px;
}

.app-icon {
  background-color: #fff;
  height: 75px;
  width: 75px;
  border: 2px solid #f6f6f7;
  border-radius: 50%;
  background-image: url(/img/headstock.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.menu {
  background: #fff;
  margin-top: 75px;
  border: 1px solid #f6f6f7;
  padding: 80px 32px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* FORM STYLING */
.instrument-select {
  text-align: center;
}

form > label {
  display: inline-block;
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
  font-weight: bold;
}

select {
  margin-bottom: 0.5rem;
}

input {
  width: 100px;
  height: 25px;
  text-align: center;
}

/* PLAY SECTION */

.notes {
  margin-top: 2rem;
}

.string {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  align-items: center;
}

.note {
  font-size: 2rem;
  text-transform: capitalize;
}

.btn {
  height: 80px;
  width: 80px;
  border: 3px solid #fff;
}

.btn:hover {
  background-color: #f6f6f7;
}

.play-btn::before {
  font-size: 1.5rem;
  content: "\25BA";
}

.pause-btn::before {
  width: 80px;
  height: 80px;
  content: "\258C \258C";
}

footer {
  width: 350px;
  display: flex;
  justify-content: flex-start;
}

.jbass {
  transform: rotate(90deg);
}
